parameters:
	ignoreErrors:
		-
			message: "#^Method ProfessionalWiki\\\\SPARQL\\\\SparqlLua\\:\\:register\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/SparqlLua.php
